body{
    text-align: center;
}

#carouselExampleSlidesOnly{
 
}
.carousel-inner{
    margin: 0 auto;
    width: 20%;
      
}
.carousel-item{
   

}

.d-block{
   
}
.photo{
/* display: inline-block; */
width: 15%;
}
.piece-note{
    display: block;
}